<% if(locals.admins) { %>
<header class="main-header navbar main-wrap">
  <div class="col-search">
    <form class="searchform">
    
      <datalist id="search_terms">
        <option value="Products"></option>
        <option value="New orders"></option>
        <option value="Apple iphone"></option>
        <option value="Ahmed Hassan"></option>
      </datalist>
    </form>
  </div>
  <div class="col-nav">
    <button
      class="btn btn-icon btn-mobile me-auto"
      data-trigger="#offcanvas_aside"
    >
      <i class="material-icons md-apps"></i>
    </button>
  
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle"  style="background-color:  #088178;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
  
        Super Admin
        
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <% if(locals.admins) { %>
       <a class="dropdown-item" href="/admin/adminLogout"> log out</a></li>
       <%} else { %>
        <a class="dropdown-item" href="/admin/adminLogout"> log In</a></li>
      <% } %>
      <!-- <li><a class="dropdown-item" href="/admin/adminLogin"> log in</a></li> -->
     
    </ul>
    </div>
  </div>
</header>
<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href="/" class="brand-wrap">
      <img src="https://images.cooltext.com/5651103.png" class="ml-30" alt="">
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item active">
        <a class="" href="/admin">
          <i class="icon material-icons md-home"></i>
          <span class="text" style="color: #000">Dashboard</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="" href="/admin/view-products">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text" style="color: #000">Products</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="" href="/admin/add-category">
          <i class="icon material-icons md-store"></i>
          <span class="text" style="color: #000">Categories</span>
        </a>
      </li>
      <!-- <li class="menu-item has-submenu">
        <a class="" href="/admin/add-sub">
          <i class="icon material-icons md-store"></i>
          <span class="text" style="color: #000">Sub Categories</span>
        </a>
      </li> -->
      <li class="menu-item has-submenu">
        <a class="" href="/admin/orders">
          <i class="icon material-icons md-shopping_cart"></i>
          <span class="text" style="color: #000">Orders</span>
        </a>
      </li>

      <!-- <li class="menu-item has-submenu">
        <a class="" href="/admin/add-product">
          <i class="icon material-icons md-add_box"></i>
          <span class="text" style="color: #000">Add Product</span>
        </a>
      </li> -->
      <!-- <li class="menu-item has-submenu">
        <a class="" href="page-transactions-1.html">
          <i class="icon material-icons md-monetization_on"></i>
          <span class="text" style="color: #000">Transactions</span>
        </a>
      </li> -->
      <!-- <li class="menu-item has-submenu">
        <a class="" href="#">
          <i class="icon material-icons md-person"></i>
          <span class="text">Account</span>
        </a>
        <div class="submenu">
          <a href="page-account-login.html">User login</a>
          <a href="page-account-register.html">User registration</a>
          <a href="page-error-404.html">Error 404</a>
        </div>
      </li> -->
      <li class="menu-item">
        <a class="" href="/admin/view-users">
          <i class="icon material-icons md-comment"></i>
          <span class="text" style="color: #000">Users</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="" href="/admin/coupons">
          <i class="icon material-icons md-stars"></i>
          <span class="text" style="color: #000">Coupons</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="" href="/admin/add-coupons">
          <i class="fa-solid fa-square-plus ml-1" style="color: #848484;"></i>
          <span class="text" style="color: #000">Add Coupons</span>
        </a>
      </li>
    </ul>
    <hr />
    <ul class="menu-aside">
      <li class="menu-item has-submenu">
        <a class="" href="/admin/add-banner">
          <i class="fa-solid fa-square-plus ml-1" style="color: #848484;"></i>
            <span class="text" style="color: #000">Add Banners</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="" href="/admin/banners">
          <i class="icon material-icons md-settings"></i>
          <span class="text" style="color: #000">Banners</span>
        </a>
      </li>
    </ul>
    <br />
    <br />
  </nav>
</aside>
<% } %>